<h2>Welcome back!</h2>

<%= form_tag action='/sessions' do %>
<<<<<<< HEAD

<p><%= label_tag :name %>
<%= text_field_tag 'user[name]' %></p>

<p><%= label_tag :password %>
<%= password_field_tag 'user[password]' %></p>

<p><%= submit_tag 'Sign In' %></p>

=======
  <%= label_tag :user_name %>
  <%= text_field_tag 'user[username]' %>
  <%= label_tag :password %>
  <%= password_field_tag 'user[password]' %>
  <%= submit_tag 'Sign In' %>
>>>>>>> 66bec2d8e8bffd6f29db59178f0e3854bfd83b72
<% end %>
