<%= form_for(@listing) do |f| %>

<p><%= f.label :venue_id %>
<%= f.number_field :venue_id %><p>

<p><%= f.label :available_start_date %>
<%= f.date_select :available_start_date %><p>

<p><%= f.label :available_start_time %>
<%= f.time_select :available_start_time, {ampm: true, minute_step: 15} %><p>

<p><%= f.label :available_end_date %>
<%= f.date_select :available_end_date %><p>

<p><%= f.label :available_end_time %>
<%= f.time_select :available_end_time, {ampm: true, minute_step: 15} %><p>

<p><%= f.label :price %>
<%= f.text_field :price %><p>

<p><%= f.submit %></p>

<% end %>
