<h1>Show</h1>
<ul>
  <li><%= link_to @listing.venue.name, listing_path(@listing) %>
    <ul>
      <li>Available Dates: <%= @listing.available_start_date.strftime("%B %e, %Y") %> - <%= @listing.available_end_date.strftime("%B %e, %Y") %></li>
      <li>Available Hours: <%= @listing.available_start_time.strftime("%H:%M") %> - <%= @listing.available_end_time.strftime("%H:%M") %></li>
    </ul>
  </li>
</ul>

<%= link_to "Edit Listing", edit_listing_path(@listing) %>
<%= link_to "Remove Listing", listing_path(@listing), method: :delete %>

<div id="calendar_lis" data-listing-id=<%= @listing.id %>></div>
