<%= form_for(@venue) do |f| %>
<<<<<<< HEAD

<p><%= f.label :name%>
<%= f.text_field :name%></p>

<p><%= f.label :address%>
<%= f.text_field :address %></p>

<p><%= f.label :description%>
<%= f.text_field :description %></p>

<p><%= f.label :host_id%>
<%= f.number_field :host_id %></p>

<p><%= f.submit %></p>

=======
<%= f.label :name%>
<%= f.text_field :name%> <br>
<%= f.label :address%>
<%= f.text_field :address %> <br>
<%= f.label :description%>
<%= f.text_field :description %> <br>
<%= f.submit %>
>>>>>>> 66bec2d8e8bffd6f29db59178f0e3854bfd83b72
<% end %>
