<h2>Find YourSpace</h2>

<p><%= form_tag('/venues', :method => :get, :remote => true ) do |f| %>

<%= label_tag :zip_code %>
<%= text_field_tag :zip_code, @zip_code, :required => true %>

<%= label_tag :from %>
<%= date_field_tag :start_date, @start_date, :required => true %>

<%= label_tag :to %>
<%= date_field_tag :end_date, @end_date, :required => true %></p>

<p><%= label_tag :price_range %>
<input type="text" id="price-range-text" readonly style="border:0; color:#f6931f; font-weight:bold; background-color:transparent">
<div id="price-range"></div>
<%= hidden_field_tag :price_min_input, 0 %>
<%= hidden_field_tag :price_max_input, 0 %>

<br>
<%= submit_tag "Search" %></p>
<% end %>

<div id="search-results">

  <%= render partial: 'venue_search_results', locals: { venues: @venues } %>

</div>
