<div id="venue-show">
<h1><%= @venue.name %></h1>
<div id="venue-info">
  <% if current_user.id == @venue.host.id %>
  <%= link_to "Edit Venue", edit_venue_path(@venue) %>
  <%= link_to "Delete Venue", venue_path(@venue), method: :delete%>
  <% end %>
  <ul>
  <% @venue.images.each do |image| %>
   <p><%= image_tag(image.image.url(:medium)) %></p>
  <% end %>
  <p><strong>Location: </strong><%= @venue.address + ", " + @venue.city + " " + @venue.zip_code %></p>
  <p><strong>Description: </strong><%=  @venue.description%></p>
  <p><strong>Contact: </strong><%=  @venue.host.first_name + " " + @venue.host.last_name + " (" + @venue.host.email + ")" %></p>
  </ul>
</div>

<div id="venue-availability">
<div id="calendar_ven" align="left" data-ven-id=<%= @venue.id %>></div>
<br>

<% if @venue.host_id != current_user.id %>

<h3> Make a reservation</h3>

<%= form_for Reservation.new do |f| %>

<p><%= f.label :start_date %>
<%= f.date_select :start_date %></p>


<%= f.hidden_field :venue_id, :value => @venue.id  %>

<p><%= f.label :end_date %>
<%= f.date_select :end_date %></p>

<p><%= f.submit %></p>

<% end %>

<% elsif current_user.id == @venue.host.id %>
<h3>Create a New Listing</h3>

<%= form_for(Listing.new) do |f| %>

<%= f.hidden_field :venue_id, :value => @venue.id %>

<p><%= f.label :available_start_date %>
<%= date_field_tag 'listing[available_start_date]', nil, :required => true %>

<%= f.label :available_end_date %>
<%= date_field_tag 'listing[available_end_date]', nil, :required => true %></p>

<p><%= f.label :price_per_day %> $
<%= f.text_field :price, :required => true %></p>

<%= f.submit %>

<% end %>
<br>

<h3>Your Current Listings</h3>

<div id="venue-listings">


  <%= render partial: 'listings/venue_listings', locals: { listings: @venue.listings } %>

</div>

<% end %>

</div>
