

<h1>Manage All Reservations</h1>
<div id="calendar_res_r"></div>

<h1>Reservations Info:</h1>
<!-- <% if @user.confirmed_renter_reservations.count == 0 && @user.pending_renter_reservations.count == 0 %>
 <br>You have no renter reservations - let's change that! <%= link_to "See available venues", venues_path %>
<% end %> -->

<% if @user.pending_host_reservations.count == 0 && @user.confirmed_host_reservations.count == 0 %>
 <br>You have no renter reservations - let's change that - <%= link_to "List a Venue!", new_venue_path %>
<% end %>


<%if @user.confirmed_renter_reservations.length > 0 %>

<h3>Confirmed Reservations (as renter)</h1>
<%@user.confirmed_renter_reservations.each do |res| %>
<%= link_to res.listing.venue.name, reservation_path(res) %> <br>
Start Date: <%= res.start_date %> <br>
End Date: <%= res.end_date %> <br>
<% end %>

<% end %>

<% if @user.pending_renter_reservations.length > 0 %>

<h3>Pending Reservations (as renter)</h1>
<%@user.pending_renter_reservations.each do |res| %>
<%= link_to res.listing.venue.name, reservation_path(res) %> <br>
Start Date: <%= res.start_date %> <br>
End Date: <%= res.end_date %> <br>
<%= link_to "Cancel Reservation", reservation_path(res), method: :delete %> <br> <br>
<% end %>
<% end %>
