<h1>Renter Reservations</h1>
  <div id="calendar_res_r"></div>

  <% if @user.confirmed_renter_reservations.count == 0 && @user.pending_renter_reservations.count == 0 %>
    <h3>You have no places booked! <%= link_to "See Available Venues", venues_path %></h3>
  <% end %>

  <% if @user.pending_renter_reservations.length > 0 %>
  <h3>Pending Renter Reservations</h3>
    <% @user.pending_renter_reservations.each do |res| %>
      <strong>Venue: </strong><%= link_to res.listing.venue.name, reservation_path(res) %> <br>
      <strong>Host: <strong><%= "#{res.listing.venue.host.first_name} #{res.listing.venue.host.last_name}" %></strong> <br>
      <strong>Start Date: </strong><%= res.start_date.strftime("%B %e, %Y") %> <br>
      <strong>End Date: </stong><%= res.end_date.strftime("%B %e, %Y") %> <br>
      <%= button_to "Cancel Reservation", reservation_path(res), method: :delete, data: { confirm: "Cancel this reservation?" } %> <br>
    <% end %>
  <% end %>

  <% if @user.confirmed_renter_reservations.length > 0 %>
    <h3>Confirmed Renter Reservations</h1>
      <% @user.confirmed_renter_reservations.each do |res| %>
        <%= link_to res.listing.venue.name, reservation_path(res) %> <br>
        <strong>Reservaton ID: </strong><%= res.id %> <br>
        <strong>Host: </strong><%= "#{res.listing.venue.host.first_name} #{res.listing.venue.host.last_name}" %> <br>
        <strong>Start Date: </strong><%= res.start_date.strftime("%B %e, %Y") %> <br>
        <strong>End Date: </strong><%= res.end_date.strftime("%B %e, %Y") %> <br>
        <%= button_to "Cancel Reservation", reservation_path(res), method: :delete, data: { confirm: "Cancel this reservation?" } %> <br>
      <% end %>
  <% end %>
