<% if @reservation.host.id == current_user.id %>
  <h1>Your venue has been booked by <%= @reservation.renter.first_name %>. </h1>
    Start Date: <%= @reservation.start_date %> <br>
    End Date: <%= @reservation.end_date %> <br>
    <% if @reservation.confirmed == false %>
      This reservation has not been confirmed. <br>
      <%= form_for(@reservation) do |f|%>
      <%= f.hidden_field :confirmed, :value => true %>
      <%= f.submit "Confirm Reservation" %> <br>
      <% end %>
      <%= link_to "Cancel Reservation", reservation_path(@reservation), method: :delete %> <br>
    <% else%>
      This reservation has been confirmed. <br>
    <%= link_to "Cancel Reservation", reservation_path(@reservation), method: :delete %> <br>
    <% end %>
<% else%>
  <% if @reservation.confirmed == false %>

    <h1> Hello, <%= @reservation.renter.first_name %>. Your reservation at <%= @reservation.venue.name %> is pending. A representative will be in touch shortly. </h1>
    Start Date: <%= @reservation.start_date %> <br>
    End Date: <%= @reservation.end_date %> <br>
    <%= link_to "Cancel Reservation", reservation_path(@reservation), method: :delete %> <br>
    <%= link_to "Modify Reservation", edit_reservation_path(@reservation) %> <br>
  <% end %>

  <% if @reservation.confirmed == true%>
    <h1> Hello, <%= @reservation.renter.first_name %>. Your reservation at <%= @reservation.venue.name %> is confirmed. </h1>
    Start Date: <%= @reservation.start_date %> <br>
    End Date: <%= @reservation.end_date %> <br>
    <%= link_to "Cancel Reservation", reservation_path(@reservation), method: :delete %> <br>
  <% end %>

<% end %>
<br>
