<% if @reservation.confirmed == false %>
  <h1> Hello, <%= @reservation.renter.first_name %>. Your reservation at <%= @reservation.venue.name %> is pending. A representative will be in touch shortly. </h1>
<% end %>

<% if @reservation.confirmed == true%>
  <h1> Hello, <%= @reservation.renter.first_name %>. Your reservation at <%= @reservation.venue.name %> is confirmed. </h1>
<% end %>
<br>
Confirmed: <%= @reservation.confirmed %>

<h3> The start date is: <%= @reservation.start_date.strftime('%a %b %d %Y') %>, at <%= @reservation.start_time.strftime('%I:%M %p') %> </h3>

<%= @reservation.confirmed %>

<h3> The end date is: <%= @reservation.end_date.strftime('%a %b %d %Y') %>, at <%= @reservation.end_time.strftime('%I:%M %p') %> </h3>


<%= link_to "Modify Reservation", edit_reservation_path(@reservation) %>
<%= link_to "Cancel Reservation", reservation_path(@reservation), method: :delete %>
