<!DOCTYPE html>
<html>
  <head>
    <title>YourSpace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%  if current_user %>
      <%# byebug %>
        <%= current_user.first_name %>  |  Welcome to Your Space | <%= link_to "sign out", '/signout', method: :delete  %>

        <%else %>
        <%= link_to "sign in", '/signin'%> | <%= link_to 'Sign Up', '/signup' %>
        insert registration link stuff here
        <% end %>

    </nav>

    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
    <%= yield %>
  </body>
</html>
